p, .normal-text {
    line-height: 1.5em;
    color: black;
    font-weight: lighter;
}

.action-row {
    width: 100%;
    margin: auto;
}

@media only screen  and (min-width: 981px){
    .image-row {
        margin-top: 5%;
        margin-left: 15%;
    }

    .img1-offset {
        margin-top: 5%;
    }

    .img2-offset {
        margin-left: -5%;
    }

    .img3-offset {
        margin-top: 5%;
        margin-left: -5%;
    }

    .img4-offset {
        margin-left: -5%;
    }

    p, .normal-text {font-size: 2em;}
    h2{font-size: 4em;}
    h3{font-size: 3.25em;}
    h4{font-size: 3em; line-height: 1.4em;}
}

@media only screen  and (min-width: 1200px){
    p, .normal-text {font-size: 2em;}
    h2{font-size: 3em;}
    h3{font-size: 2.8em;}
    h4{font-size: 2em; line-height: 1.4em;}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    p, .normal-text {font-size: 2em;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 980px) {
    .image-row {
        margin: auto;
        margin-top: 5%;
        width: 80%;
    }

    .img1-offset {
        padding: 1%;
    }

    .img2-offset {
        padding: 1%;
    }

    .img3-offset {
        padding: 1%;
    }

    .img4-offset {
        padding: 1%;
    }

    h2{font-size: 4em;}
    h3{font-size: 4em;}
    h4{font-size: 3.5em; line-height: 1.4em;}
    p, .normal-text {font-size: 2em;}
    
    /*ABOUT SECTION*/
    #about{padding-top: 40px;}
    
    /* FEATURED CLIENTS SECTION*/
    #clients {text-align: center;}
    #clients img{height: 40px;}
    #clients ul{float: none;}
    #clients h4 {display: none;}
    
    /* PORTFOLIO SECTION */
    #shotsByPlayerId li{width: 47%;}
    #shotsByPlayerId li:first-child{width: 97%;}
    
    .myphoto{text-align: center;}

    /*COLLUPSABLE NAVIGATION MENU*/
    .navbar-header {float: none;}
    .navbar-left,.navbar-right {float: none !important;}
    .navbar-toggle {display: block;}
    .navbar-collapse.collapse {display: none!important;}
	.navbar-nav>li {
        float: none;
        padding-left: 30px;
        overflow: hidden;
    }
    .collapse.in{display:block !important;}
}


/* Mobile Devices */
@media only screen and (max-width : 640px) {

    h2 {font-size: 2.5em;}
    h3{font-size: 2em}
    h4{font-size: 1.5em;}
    p, .normal-text {font-size: 1.5em;}


    .myphoto{display: none;}

    .herocontent{padding-top: 30px;}
    
    /*About section*/
    #about{text-align: center;}
    
    /*Portfolio*/
    #shotsByPlayerId li {width: 96%;}

}

/* Smaller Mobile Devices */
@media only screen and (max-width : 480px) {
    #clients {display: none;}
    .footersocial li{font-size: 1.5em}
}

/* Smallest Mobile Devices */
@media only screen and (max-width : 320px) {
    .herocontent{padding-top: 100px; padding-bottom: 30px;}

}


